[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BIGL"]
	path = BIGL
	url = https://github.com/openanalytics/bigl
[submodule "clinDataReview"]
	path = clinDataReview
	url = https://github.com/openanalytics/clindatareview
	subdir = clinDataReview
[submodule "clinUtils"]
	path = clinUtils
	url = https://github.com/openanalytics/clinutils
	subdir = clinUtils
[submodule "inTextSummaryTable"]
	path = inTextSummaryTable
	url = https://github.com/openanalytics/intextsummarytable
	subdir = inTextSummaryTable
[submodule "patientProfilesVis"]
	path = patientProfilesVis
	url = https://github.com/openanalytics/patientprofilesvis
	subdir = patientProfilesVis
[submodule "tinytest2JUnit"]
	path = tinytest2JUnit
	url = https://github.com/openanalytics/tinytest2junit
	subdir = tinytest2JUnit
