[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BIGL"]
	path = BIGL
	url = https://github.com/openanalytics/bigl
	shallow = true
	registered = true
